APP_NAME=LPHS DIS
NODE_ENV=production

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/LPHS-DIS?retryWrites=true&w=majority
MONGODB_DB=LPHS-DIS

SESSION_SECRET=REPLACE_WITH_A_LONG_RANDOM_SECRET

STAFF_GUARD_PASSWORD=REPLACE_ME
STAFF_ADMIN_PASSWORD=REPLACE_ME
STAFF_ECLUB_PASSWORD=REPLACE_ME
STAFF_DEV_PASSWORD=REPLACE_ME
ADMIN_PASSWORD=REPLACE_ME
